@import '../../../../pages/stylesheets/vars.scss';


.resource {
  margin-bottom: 0.5em;
  width: 45%;
  display: inline-table;
  margin-right: 40px;
  margin-bottom: 40px;

  h3 {
    margin-top: 0;
  }

  h4 {
    margin: 1em 0 0.5em 0;
    font-size: 0.9em;
  }
  .tags__container {
    margin-bottom: 10px;
  }
  .label{
    font-weight: bold;
  }
  .tags {
    background-color: $lbh-link;
    padding: 0px 5px 1px 5px;
    color: white;
    text-transform: uppercase;
    margin-right: 5px;
    font-size: 11pt;
    font-weight: 600;
    white-space: nowrap;
  }

  .websites {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 0.5em;

      a {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  details {
    font-size: 1em;

    .details {
      margin-top: 1em;

      p {
        margin-bottom: 0;
      }
    }

    summary {
      margin: 1em 0 0;
      color: $hackney-green;
    }
  }
}
